@import './init.css';
@import './themeHandler.css';

.p-sidebar {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover{
  background-color: transparent;
  color: var(--main-text-color)
}

.p-sidebar .p-sidebar-header .p-sidebar-icon{
  color: var(--main-text-color)
}

.p-sidebar .p-sidebar-header .p-sidebar-close:focus, .p-sidebar .p-sidebar-header .p-sidebar-icon:focus{
  box-shadow: 0 0 0 0.2rem var(--main-border-color);
}
strong{
  font-weight: 700;
}

.d-flex {
  display: flex
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--main-link-color);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}